.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.field, .control, input {
  display: inline;
}


input {
  margin: 0 5px;
}

.container {
  width: calc(100vw - 32px);
  max-width: calc(100vw - 32px);
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: inline-block;
  border: 1px solid #dddbdb;
  width: 25%;
  min-width: 464px;
  height: 100px;
  margin: 6px;
  padding: 2px;
}
